@import url("./reset.css");
@font-face {
  font-family: "raleway";
  src: url("./resources/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-family: "roboto";
  src: url("./resources/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
