@import url("./reset.css");
@font-face {
  font-family: "raleway";
  src: url("./resources/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-family: "roboto";
  src: url("./resources/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
:root {
  --main-font-fize: 1.6rem;
  --heading-xl: 3.2rem;
  --heading-l: 2.4rem;
  --gradient-red: #ed213a;
  --gradient-brown: #93291e;
  --primary-gradient: linear-gradient(
    to right,
    var(--gradient-red),
    var(--gradient-brown)
  );
  --light-fc: #f4f4f4;
}

pre {
  font-size: var(--main-font-fize);
}

.fc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: var(--gradient-red); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-red),
    var(--gradient-brown)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: var(
    --primary-gradient
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.covid-loader {
  width: 8rem;
  height: 5.8rem;
  background: transparent url("./resources/images/covid-loader-large.png")
    no-repeat;
  background-size: contain;
  animation: spin 3s linear infinite;
}

.sections-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 1rem;
  font-size: 1.6rem;
}

section {
  width: 100vw;
  height: auto;
}

.live-info-section {
  width: 100%;
}

.live-info-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  padding: 9rem;
  border: 1px solid;
}

.live-info-card {
  width: 20rem;
  padding: 5rem;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.live-info-card-Recovered {
  background-color: greenyellow;
}

.live-info-card-Confirmed {
  background-color: indianred;
}

.live-info-card-Deaths {
  background-color: #ed213a;
}

.live-info-card .heading,
.live-info-card .value {
  font-size: var(--heading-l);
  font-weight: bolder;
}

.live-info-card .heading {
  margin-top: 2rem;
}

.live-info-card .value {
  font-family: sans-serif;
  font-size: var(--heading-xl);
}

.error-container {
  font-size: var(--heading-xl);
  font-weight: 800;
  width: 100%;
  height: 100%;
  background: var(--primary-gradient);
  color: var(--light-fc);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  font-size: var(--heading-xl);
  font-weight: bolder;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.navContainer {
  padding: 1rem 4rem;
}

.logo {
  width: 9.5rem;
  height: 7.5rem;
  border: 1px solid black;
}

.logo-text {
  font-size: var(--heading-xl);
  font-family: "raleway";
  letter-spacing: 2px;
  font-weight: bold;
  border: 1px solid blue;
  margin-top: 3rem;
}

.number {
  font-family: "roboto" !important;
  color: var(--gradient-brown);
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.ibb.co/42F6W6Z/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.country {
  width: 4rem;
  height: 2.5rem;
  z-index: 1;
}

.flag {
  width: 4rem;
  height: 2.5rem;
  background-size: cover;
  cursor: pointer;
  border-radius: 2px;
  z-index: 2;
}

.country-specs {
  opacity: 0;
  visibility: hidden;
  font-size: 1.4rem;
  padding: 0.5rem;
  width: 12rem;
  background-color: #f3f3f3;
  color: #3f3f3f;
  transform: translateX(10%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
  z-index: 1000;
}

.flag:hover ~ .country-specs {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
